<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-button/paper-button.html">

<dom-module id="form-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>[[prop1]]!</h2>
    <!-- <template is="dom-repeat" elements="[[configData.inputsArray]]"> -->
      
    <paper-input label="[[configData.label1]]" no-label-float value="{{inputValue1}}"></paper-input>
    <paper-input label="[[configData.label2]]" no-label-float value="{{inputValue2}}"></paper-input>
    <paper-input label="[[configData.label3]]" no-label-float value="{{inputValue3}}"></paper-input>
  <!-- </template> -->

    <paper-button on-click="form_event">[[configData.buttonName]]</paper-button>
  </template>

  <script>
    /**
     * `form-element`
     * formulario
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FormElement extends Polymer.Element {
      static get is() { return 'form-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Agregar Alumno'
          },
          // buttonName:{
          //   type: String,
          //   value:''
          // },
          configData:{
            type:Object,
            value: ()=>{
              return {
                title:'Agregar Alumno',
                buttonName:'Agregar',
                label1: 'Nombre',
                label2: 'Email',
                label3: 'Telefono'
              }
            }
          },
          inputValue1:{
            type:String
            
          },
          inputValue2:{
            type:String
            
          },
          inputValue3:{
            type:String
            
          }
        };
      }
      form_event(e){
        this.dispatchEvent(
          new CustomEvent('form-event',
            {detail:{
              name: this.inputValue1,
              email: this.inputValue2,
              telefono: this.inputValue3
            }}
        ));
      }
    }

    window.customElements.define(FormElement.is, FormElement);
  </script>
</dom-module>
